<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>dns jumper</title>

    <!-- tailwind output -->
    <link rel="stylesheet" href="./style/output.css" />

    <!-- icons -->
    <link
      rel="stylesheet"
      href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/7.0.1/css/all.min.css"
    />

    <!-- anim -->
    <link rel="stylesheet" href="./style/anim.css" />
  </head>
  <body
    class="bg-stone-900 animate__animated animate__faster animate__fadeInLeft"
  >
    <div class="h-[500px]">
      <p class="text-white m-10 text-center">
        About Our Team We are a small but highly specialized team focused on
        improving the internet experience for everyone. With this goal in mind,
        we developed DNS Jumper — a fast, secure, and user-friendly tool
        designed for both beginners and advanced users. Our team is made up of
        several key groups: Software Developers Responsible for designing the
        core engine,
      </p>
    </div>

    <div
      dir="rtl"
      class="absolute flex items-center bg-stone-500 px-2.5 py-2 rounded-md"
      style="left: 50%; transform: translateX(-50%); bottom: 20px"
    >
      <div class="p-2.5 ml-5">
        <a
          href="./index.html"
          class="fa fa-power-off text-[20px] text-white"
        ></a>
      </div>
      <div class="bg-stone-900 p-2.5">
        <a href="./team.html" class="fa fa-users text-[20px]"></a>
      </div>
    </div>
  </body>
</html>
